---
layout: compress
---
<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="Vq32lyl5J9e47ol12YxwagImYWSxck-MFTUAzRtpKEA"/>
    <meta name="ahrefs-site-verification" content="28baa7684dbfc859658c17ff0061e2f80f2dc653a5c45d13d341b04ab5b94dda">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/css/index.css">
    {% seo %}
</head>
<body>
<header>
    <div class="container title-container">
        <h1 class="logo">shrapnelnet</h1>
        <p id="quote">
	    <noscript>no javascript? awesome!</noscript>
	</p>
    </div>
</header>
<main>
    <div class="container">
        <h2 class="highlighted">articles</h2>
        <div id="articles">
            {% for post in paginator.posts %}
                <div class="card">
                    <img src="/assets/graphics/anon.png" alt="little face with sunglasses">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <p>{{ post.date | date: "%d/%m/%y" }}</p>
                </div>
            {% endfor %}
            <div class="paginate">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}">Previous</a>
                {% endif %}
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}">Next</a>
                {% endif %}
            </div>
            <p>or uhh just play <a href="https://git.shr4pnel.com/observer/libremines">minesweeper</a> :3</p>
            <img src="/assets/graphics/cutiecat.png" alt="little animated cats in a line">
        </div>
        <div id="socials">
            <h2 class="highlighted">socials</h2>
            <div class="social-links">
                <div class="fake-logo"></div>
                <a href="/about">About</a>
            </div>
            <div class="social-links">
                <div class="fake-logo"></div>
                <a href="mailto:admin@shr4pnel.com">My email</a>
            </div>
            <div class="social-links">
                <img
                        src="/assets/graphics/gitea.svg"
                        alt="gitea logo"
                        width="32"
                        height="32"
                />
                <a href="https://git.shr4pnel.com/observer/" target="_blank" rel="noreferrer">
                    gitea/observer
                </a>
            </div>
            <div class="social-links">
                <img src="/assets/graphics/mastodon.svg" alt="mastodon logo" width="32" height="32"/>
                <a href="https://comp.lain.la/users/tyler" target="_blank" rel="noreferrer">
                    @tyler@comp.lain.la
                </a>
            </div>
            <div class="social-links">
                <img src="/assets/graphics/rss_optimised.png" alt="rss logo" width="32" height="32"/>
                <a href="/feed.xml">RSS feed</a>
            </div>
        </div>
        <div id="friends">
            <h2 class="highlighted">friends</h2>
            <div class="friend-container">
                <a href="/">
                    <img
                            src="/assets/buttons/blogbutton.gif"
                            alt="blog.shr4pnel.com blog button. has a little animated cat called mauzy on it"
                            loading="lazy"
                    />
                </a>
                <a href="https://foreverliketh.is">
                    <img
                            src="/assets/buttons/foreverliketh.is.png"
                            alt="foreverliketh.is blog banner. green leaves with light blue text in front"
                            loading="lazy"
                    />
                </a>
                <a href="https://angelsaremathematical.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/angels.png"
                            alt="pink background with confetti with original apple pink CRT with monospaced font reading angels are mathematical"
                            loading="lazy"
                    />
                </a>
                <a href="https://gapandfriends.neocities.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/IMG_7032.png"
                            alt="blue chequered backdrop, red text reading: gap &amp; friends"
                            loading="lazy"
                    />
                </a>
                <a href="https://aboboracandy.neocities.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/aboborabtn.gif"
                            alt="a forest cabin with a smoking chimney next to swirling orange autumn leaves"
                            loading="lazy"
                    />
                </a>
                <a href="https://oldkidz-newblockz.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/porcupine.png"
                            alt="text reads: 'blog read', 'personality? no $$$ 4 dat!'"
                            loading="lazy"
                    />
                </a>
                <a href="https://whitevhs.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/whitevhs.gif"
                            alt="monochrome 2 frame gif which inverts on each frame change. shows a vhs tape."
                            loading="lazy"
                    />
                </a>
                <a href="https://idelides.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/idelides.png"
                            alt="idelides - the lazy goddess"
                            loading="lazy"
                    />
                </a>
                <a href="https://dumbdizzy.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/dumbdizzy.gif"
                            alt="blurred bunny with text reading dumbdizzy in black to yellow downwards gradient"
                            loading="lazy"
                    />
                </a>
                <a href="https://voicedrew.xyz/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/voicedrew.gif"
                            alt="voicedrew's button!"
                            loading="lazy"
                    />
                </a>
                <a href="https://zinricky.tilde.team/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/zinricky.png"
                            alt="zinrickys button !"
                            loading="lazy"
                    />
                </a>
                <a href="https://gau7ilu.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/gau7ilu.png"
                            alt="gau7ilu's blog button!"
                            loading="lazy"
                    />
                </a>
                <a href="https://nyrs.garden" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/nyr.png"
                            alt="nyr's button !!!"
                            loading="lazy"
                    />
                </a>
                <a href="https://b4rkod.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/b4rkod.png"
                            alt="b4rkod's button !!!"
                            loading="lazy"
                    />
                </a>
                <a href="https://i330.dev" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/i330.gif"
                            alt="i330s button !?!!!"
                            loading="lazy"
                    />
                </a>
                <a href="https://lime360.nekoweb.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/lime360_button.gif"
                            alt="lime360 button"
                            loading="lazy"
                    />
                </a>
                <a href="https://punp.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/punp.gif"
                            alt="punp button. spinning apple in wireframe style"
                            loading="lazy"
                    />
                </a>
                <a href="https://chrysalism.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/chrysalism.png"
                            alt="chrysalism's button, reads inna woods NOW!"
                            loading="lazy"
                    />
                </a>
                <a href="https://walrus-island.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/WalrusIslandBanner.gif"
                            alt="hammerkoopa's button!"
                            loading="lazy"
                    />
                </a>
                <a href="https://32bit.cafe/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/32bitcafe.png"
                            alt="the 32 bit cafe, you betta visit!"
                            loading="lazy"
                    />
                </a>
                <a href="https://exnihl.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/exnihil.gif"
                            alt="exnihil's button, thanks for adding mine, and sorry for not finding it sooner"
                            loading="lazy"
                    />
                </a>
                <a href="https://waxpond.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/waxpond.png"
                            alt="waxpond, formerly bluntsmoker's button"
                            loading="lazy"
                    />
                <a href="https://libre.town/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/libretown.gif"
                            alt="libretown !!"
                            loading="lazy"
                    />
                </a>
                <a href="https://jojovski.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/jojo.gif"
                            alt="jojo!"
                            loading="lazy"
                    />
                </a>
                <a href="https://f4tal.rip/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/buttons/f4tal-btn.png"
                            alt="fatal!"
                            loading="lazy"
                    />
            </div>
            <h2 class="highlighted">graveyard</h2>
            <sub>Domain expired:</sub>
            <div class="graveyard friend-container">
                <img src="/assets/buttons/bluntgay.png"
                     alt="purple outline and text, monospaced, rainbow left aligned, text right aligned" loading="lazy">
                <img src="/assets/buttons/psychool.png" alt="psychools button! lots of colours and wow and cool and etc"
                     loading="lazy">
            </div>
            <sub>AWOL:</sub>
            <div class="graveyard friend-container">
                <img src="/assets/buttons/cockpit.png" alt="cockpit bluntsmoker's button, reads blunty's barrow"
                     loading="lazy">
            </div>
            <h2 class="highlighted">webrings</h2>
            <div class="flex-wrap">
                <p>Hotline Webring</p>
                <a href="https://hotlinewebring.club/shr4pnel/previous">Previous</a>
                <a href="https://hotlinewebring.club/shr4pnel/next">Next</a>
            </div>
            <div class="flex-wrap">
                <p>
                    Travellers of
                    <a href="https://voicedrew.xyz/wr/">Agora Road</a>
                </p>
                <a href="https://aboboracandy.neocities.org/">Previous</a>
                <a href="https://skeleg.org">Next</a>
            </div>
            <div class="flex-wrap">
                <p>The <a href="https://baccyflap.com/noai">NO AI Webring</a></p>
                <a href="https://baccyflap.com/noai/?prv&s=cum">Previous</a>
                <a href="https://baccyflap.com/noai/?rnd">Random</a>
                <a href="https://baccyflap.com/noai/?nxt&s=cum">Next</a>
            </div>
            <div class="flex-wrap">
                <p>Gettie's Webring</p>
                <div class="flex-align-center">
                    <a href="https://webring.getimiskon.xyz/shrapnelnet/prev">&lt;--</a>
                    <a href="https://webring.getimiskon.xyz/">
                        <img width="50" src="/assets/graphics/gettie.png" alt="gettie's fursona! also the index for their webring." title="Webring index">
                    </a>
                    <a href="https://webring.getimiskon.xyz/shrapnelnet/next">--&gt;</a>

                </div>
            </div>
        </div>
        <h2 class="highlighted">lainchan</h2>
        <div class="friend-container lain">
            <div class="friend-container lain">
                <sub class="lain-text">
                    email me to be added! everyone below is reprehensible and beyond saving and i do not endorse their
                    numerous actions
                </sub>
                <span class="flex-wrap"></span>
                <a href="/">
                    <img
                            src="/assets/lain/blog.shr4pnel.com.gif"
                            loading="lazy"
                            alt="grey background, style of windows 9x button, cat called mauzy next to animated text which reads: blog.shr4pnel.com (disappears) you like blogs dont you?"
                    />
                </a>
                <a href="https://forum.agoraroad.com" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/agora.gif"
                            loading="lazy"
                            alt="animated gif with scrolling fading out text: shhhhh (fade out) the best kept secret"
                    />
                </a>
                <a href="https://articexploit.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/arcade.gif"
                            loading="lazy"
                            alt="animated gif with retropunk text outlined in blue filled with pink spelling: the arcade. background is a flashing arcade with lit up screens"
                    />
                </a>
                <a href="https://lainchan.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/lainchan.org.gif"
                            loading="lazy"
                            alt="distorted gif with face of lain iwakura next to the font from the show in the top right reading: lainchan."
                    />
                </a>
                <a href="https://gamajun.neocities.org/" target="_blank"
                   rel="noreferrer">
                    <img
                            src="/assets/lain/gamajun.png"
                            loading="lazy"
                            alt="grey background, pink design and text, glyphs surrounded by floral pattern"
                    />
                </a>
                <a href="https://havinganame.neocities.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/havinganame.png"
                            loading="lazy"
                            alt="still image, neon green text on black backdrop. reads: havinganame@neocities"
                    />
                </a>
                <a href="https://cabbagesorter.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/cabbagesorter.png"
                            loading="lazy"
                            alt="still image, monospaced green font on black backdrop. face in anime style to right of image with glow effect applied around it. text is glowing green around the edges"
                    />
                </a>
                <a href="https://foreverliketh.is" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/foreverliketh.is.gif"
                            loading="lazy"
                            alt="foreverliketh.is blog banner. green leaves with light blue text in front"
                    />
                </a>
                <a href="https://sizeof.cat" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/sizeofcat.gif"
                            loading="lazy"
                            alt="white text on black background with blue cat. animated, cats eyes turn red and it rolls offscreen to the right. text reads: sizeof. cat is on the right of this text"
                    />
                </a>
                <a href="https://varchar.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/varchar.png"
                            loading="lazy"
                            alt="ascii art green terminal stylised text reading: varchar"
                    />
                </a>
                <a href="https://猫.移动/webring/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/xn-neko.gif"
                            loading="lazy"
                            alt="catgirl moving left and right next to 3d japanese characters"
                    />
                </a>
                <a href="https://jahanrashidi.com/explore/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/smile.png"
                            alt="emoticon smiley face on a grey backdrop"
                            loading="lazy"
                    />
                </a>
                <a href="https://bass2nick.com" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/bass2nick.gif"
                            loading="lazy"
                            alt="round empty snail-like shell flashing in a circular motion reading: bass2nick.com"
                    />
                </a>
                <a href="https://0x19.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/0x19.png"
                            loading="lazy"
                            alt="static image written in an old text editor reading: term% 0x19.org. black on white. cyan border"
                    />
                </a>
                <a href="https://gapandfriends.neocities.org/webring" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/gapandfriend.png"
                            loading="lazy"
                            alt="red handdrawn bubble writing squared text with thin black outline reading: gap &amp; friend! on a 2 tone blue checkered backdrop"
                    />
                </a>
                <a href="https://navyjoecomics.neocities.org/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/navyjoecomics.gif"
                            alt="2 tone blue checkered backdrop. centered text on left half white with dark blue outline in retro font reading: NAVY JOE COMICS. black and white portrait of the mascot is on the right of the text"
                    />
                </a>
                <a href="https://s-config.com" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/s-config.png"
                            loading="lazy"
                            alt="tri tone black and white swirling effect with s-config.com written in cursive font"
                    />
                </a>
                <a href="https://redchanit.xyz/lainring.html" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/redchanit.png"
                            loading="lazy"
                            alt="black background with orange flames. red text with black outline saying: redchanit"
                    />
                </a>
                <a href="https://crystal.tilde.institute" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/crystal-tilde.gif"
                            loading="lazy"
                            alt="grey border. black backdrop, glowing neon pink text flicking between 2 phrases: crystal.tilde.institute, your brain is tricking you into thinking. image flickers and has RGB noise and CRT scanlines"
                    />
                </a>
                <a href="https://grafo.zone" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/grafo-zone.gif"
                            loading="lazy"
                            alt="yellow border, reddish black background. yellow text flickering like electricity flicking between 2 phrases: grafo, .zone"
                    />
                </a>
                <a href="https://maerk.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/maerk.png"
                            alt="16bit style blonde character on baby blue background. text reads maerk.xyz"
                            loading="lazy"
                    />
                </a>
                <a href="https://torpus.info" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/torpus.png"
                            alt="black and white, dice that says torpus."
                            loading="lazy"
                    />
                </a>
                <a href="https://nauxnam.net" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/nauxnam.gif"
                            alt="spinning human head with glitchy background effect"
                            loading="lazy"
                    />
                </a>
                <a href="https://lainnet.superglobalmegacorp.com/" target="_blank">
                    <img
                            src="/assets/lain/lainnet.png"
                            alt="lainnet banner. red text on black background next to lain iwakura"
                            loading="lazy"
                    />
                </a>
                <a href="https://nihilism.network" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/nihilism-banner.png"
                            alt="nihilism.network banner"
                            loading="lazy"
                    />
                </a>
                <a href="https://datura.network" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/datura-banner.png"
                            alt="datura.network banner"
                            loading="lazy"
                    />
                </a>
                <a href="https://scio.icu/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/SCIO.png"
                            alt="SCI0 banner"
                            loading="lazy"
                    />
                </a>
                <a href="https://cult.ist/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/cultist.png"
                            alt="cultist (formerly my.faith.rip) banner"
                            loading="lazy"
                    />
                </a>
                <a href="https://neetventures.com/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/neet.gif"
                            alt="neetventures banner. pretty background"
                            loading="lazy"
                    />
                </a>
                <a href="https://3to.moe/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/3to.gif"
                            alt="3to banner. white background, 3 spinning parallel apostrophes"
                            loading="lazy"
                    />
                </a><a href="https://vendell.online/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/vendell.gif"
                            alt="Vendell banner, black background, text reading don't delay click today"
                            loading="lazy"
                    />
                </a>
                <a href="https://tinfoil-hat.net" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/tinfoil-hat.png"
                            alt="tinfoil-hat banner, minimalist icon of a tiger next to text"
                            loading="lazy"
                    />
                </a>
                <a href="https://antisocial.moe" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/antisocial.png"
                            alt="antisocial.moe, green smiley face"
                            loading="lazy"
                    />
                </a>
                <a href="https://eyetower.xyz" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/eyetower.png"
                            alt="eyetower.xyz, photo of distant tower"
                            loading="lazy"
                    />
                </a>
                <a href="https://vimfag.net" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/vimfag_net.gif"
                            alt="vimfag.net, woman smoking"
                            loading="lazy"
                    />
                </a>
                <a href="https://oedo808.neocities.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/oedo808_webring.gif"
                            alt="oedo webring button !!"
                            loading="lazy"
                    />
                </a>
                <a href="https://chknz.org" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/chknz.gif"
                            alt="chknz webring button !!"
                            loading="lazy"
                    />
                </a>
                <a href="https://fulanumoto.github.io/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/ful4n.png"
                            alt="ful4n webring button !! (i do not know arabic, maybe i should learn)"
                            loading="lazy"
                    />
                </a>
                <a href="https://digitalvoid.xyz/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/digitalvoid.png"
                            alt="digitalvoid webring button !! an image of a black hole surrounded by purple swirls"
                            loading="lazy"
                    />
                </a>
                <a href="https://mm4rk3t.xyz/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/mm4rk3t.gif"
                            alt="mm4rk3t button !! !"
                            loading="lazy"
                    />
                </a>
                <a href="https://myrdin.cx/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/myrdin.gif"
                            alt="myrdin button (has a cool little dude on it. awesome)"
                            loading="lazy"
                    />
                </a>
                <a href="https://arc86.net/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/arc86.gif"
                            alt="arc86 button!!!"
                            loading="lazy"
                    />
                </a>
                <a href="https://riverbed.foo/" target="_blank" rel="noreferrer">
                    <img
                            src="/assets/lain/riverbed.gif"
                            alt="riverbed button!!!"
                            loading="lazy"
                    />
                </a>
            </div>
        </div>
        <a href="https://git.shr4pnel.com/observer/blog"><p>Source</p></a>
        <img src="/assets/buttons/gnu.png" alt="gnu gpl logo">
    </div>
</main>
<script src="/assets/js/quote.js"></script>
<script src="/assets/js/width-hack.js"></script>
</body>
</html>
